.carDetails {
  order: -9999;
  color: #282c34;
  text-align: left;
}

.carDetailsWrapper {
  display: inline-flex;
  background-color: #fff;
  padding: 12px;
}

.carDetailsHeaders {
  border-right: 2px solid #282c34;
  padding-right: 15px;
}

.carDetailsItems {
  padding-left: 30px;
  padding-right: 80px;
}

@media (min-width: 640px) {
  .carDetails {
    order: 9999;
  }
}
