h2 {
  margin: 0;
}

.searchResultsContainer {
  position: relative;
  display: inline-block;
  width: 15rem;
}

.searchResultsWrapper {
  z-index: 10;
  position: absolute;
  border: 2px #fff solid;
  background-color: rgba(40, 44, 52, 0.75);
  width: 14.6rem;
  border-radius: 0px 0px 15px 15px;
  overflow: hidden;
}

.searchResultsItem {
  padding: 1rem 0;
  cursor: pointer;
}

.searchResultsItem:hover {
  background-color: #4b5563;
}
