.resultsContainer {
  position: relative;
  display: inline-block;
  width: 18rem;
}

.resultsWrapper {
  z-index: 10;
  position: absolute;
  border: 1px #fff solid;
  background-color: rgba(40, 44, 52, 0.75);
  width: 17.9rem;
  border-radius: 0px 0px 15px 15px;
  overflow: hidden;
}

.resultsItem {
  padding: 1rem 0;
  cursor: pointer;
}

.resultsItem:hover {
  background-color: #4b5563;
}

h2 {
  margin: 0;
}
