.carContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carHeader {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 640px) {
  .carContainer {
    flex-direction: row;
    align-items: flex-start;
  }

  .carHeader {
    margin-top: 0;
    margin-bottom: 4rem;
  }
}
