.carSpecsWrapper {
  order: -9999;
  color: #282c34;
  text-align: left;
  margin-bottom: 3rem;
}

.carSpecsSections {
  display: inline-flex;
  background-color: #fff;
  padding: 1rem;
}

.carSpecsHeaders {
  border-right: 2px solid #282c34;
  padding-right: 1.5rem;
}

.carSpecsItems {
  padding-left: 2.75rem;
  padding-right: 6rem;
}

@media (min-width: 640px) {
  .carSpecsWrapper {
    order: 9999;
    margin-bottom: 0;
    width: 50%;
    overflow: hidden;
  }
}
