.specsContainer {
  order: -9999;
  color: #282c34;
  text-align: left;
  margin-bottom: 3.5rem;
}

.specsWrapper {
  display: inline-flex;
  background-color: #fff;
  padding: 1rem;
  font-weight: 500;
}

.specsHeaders {
  border-right: 2px solid #282c34;
  padding-right: 1rem;
}

.specsItems {
  padding: 0 4.5rem 0 1.75rem;
}

@media (min-width: 640px) {
  .specsContainer {
    order: 9999;
    margin-bottom: 0;
    width: 50%;
    overflow: hidden;
  }
}
