.featuresWrapper {
  padding: 0.5rem 0.75rem 0;
}

@media (min-width: 640px) {
  .priceContainer {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .priceContainer {
    margin-left: 6rem;
  }
}
