h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

@media (min-width: 640px) {
  .carPriceWrapper {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .carPriceWrapper {
    margin-left: 6rem;
  }
}
