.featuresWrapper {
  padding-top: 0.5rem;
}

@media (min-width: 640px) {
  .priceContainer {
    width: 50%;
  }

  .featuresWrapper {
    padding: 0 1.5rem 0 1.5rem;
  }
}

@media (min-width: 1024px) {
  .priceContainer {
    /* margin-left: 6rem; */
  }
}
