input::placeholder {
  color: #000;
}

input {
  font-size: medium;
  border-radius: 0;
  border: 0;
  outline: none;
  padding: 0.75rem;
  width: 15rem;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 640px) {
  .searchContainer {
    margin-bottom: 7rem;
  }
}
